<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="UsersDBCon"
         connectionString="Data Source=WIN-4ITBPNHRO6N\SQLEXPRESS;Initial Catalog=UserDatabase;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="UserTable" value="Users" />
    <add key="AccountTable" value="Accounts" />
    <add key="NoteTable" value="Notes" />
  </appSettings>
</configuration>
