<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="UsersDBCon"
         connectionString="Data Source=WIN-4ITBPNHRO6N\SQLEXPRESS;Initial Catalog=UserDatabase;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceUrl" value="http://localhost:61234/" />
    <add key="Hub" value="hubs" />
    <add key="UserTable" value="Users" />
  </appSettings>
</configuration>